extends layout

block content
  h1(class="text-center")= title
  p(class="text-center") Welcome to #{title}
  ul(class="nav nav-pills")
    li
      a(href="/login") login
    li
      a(href="/register") register
    li
      a(href="/removeusers") remove users
