extends layout

block content
  h1(class="text-center")= title
  form(class="form-horizontal", id="formLogInUser", name="checkuser", method="post", action="/checkuser")
    div(class="form-group")
      label(for="inputUsername", class="col-sm-2 control-label") Username
      div(class="col-sm-10")
        input(type="text", class="form-control", id="inputUserName", placeholder="username", name="username")
    div(class="form-group")
      label(for="inputPassword", class="col-sm-2 control-label") Password
      div(class="col-sm-10")
        input(type="password", class="form-control", id="inputPassword", placeholder="password", name="password")
    div(class="form-group")
      div(class="col-sm-offset-2 col-sm-10")
        button(type="submit", id="btn btn-default") submit